<h1>Ruby City Hospital</h1>
<hr>

<div class="container">
	<%= image_tag('hospital.jpg', class: "responsive-img" ) %>
</div>

<div class="center">
	<%= link_to "I'm a Patient", patients_path, class: 'btn blue darken-2' %>
	&emsp;&emsp;&emsp;
	<%= link_to "I'm a Doctor", doctors_path, class: 'btn blue darken-2' %>
</div>